<!DOCTYPE HTML>
<html>

<head>
  <title>[cheetah]</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
            
          <h1><img src="images/cheetah.png"><a href="index.html">[<i>cheetah</i><span class="logo_colour" style="font-size:larger">]</span></a> </h1> 
          
        </div>
          </br></br></br>
          <p class="txright"> <a href="login.html">Login</a><a href="login.html">|Sign Up</a> </p>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="index.html">Home</a></li>
          <li><a href="codebytes.html">codeBytes</a></li>
          <li  class="selected"><a href="developers.html">Developers</a></li>
          <li><a href="login.html">Login</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>New Website Launched</h4>
        <h5>September 12th, 2014</h5>
        <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <p></p>
       
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">How to register</a></li>
          <li><a href="#">Participate in a contest</a></li>
          <li><a href="#">Solve previous problems</a></li>
          <li><a href="#">Win free T-shirts!</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Will be updating shortly!</h1>
          <p></p>
      </div>
    </div>
    <div id="footer">
      Copyright &copy; cheetah | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a>
    </div>
  </div>
</body>
</html>
